body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, body div#root, .App {
  height: 100%;
}

a:hover{
  text-decoration: none;
  text-shadow: gray;
}
.cardLink:hover{
  font-weight: 900;
}

.cardLink{
  text-transform: uppercase;
  font-family: Arial;
  font-size: 11px;
  color: rgb(89, 89, 216);
  text-align: left;
  font-weight: bolder;
}

.cardLink:before {
  display: block;
  float: left;
  margin-top: 1.2em; /* close to top */
  border-top: 2px solid blue;
  margin-right: 15px;
  width: 30px;
  content: "";
}
.cardTitle {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial
}

.cardImage {
  background-repeat: no-repeat;
}

.card {
  width: calc(50% - 30px);
  float: left;
  margin: 15px;
  border: none;
  text-align: left;
}

.ItemDetailTitle {
  font-size: 50px;
  font-family: Arial;
  font-weight: 1000;
  padding: 20px 0px 20px 0px;
}

.itemDetailRightPanel {
  height: '100%';
  padding-left: 100px;
  overflow-y: auto;
}

.itemDetailQGroup {
  padding-bottom: 30px;
}

.itemDetailQLabel {
  font-size: 25px;
  font-weight: 1000;
}